/** whole page **/

body {
  margin: 0;
  font-family: Bebas Neue;
}

h3, h4, h5, h6 {
  font-family: Lato;
  font-weight: 400;
}

h2 {
  font-family: Teko;
  font-size: 37px;
  margin: 0;
}

h3 {
  font-size: 48px;
  margin-bottom: 16px;
}

h4 {
  font-size: 25px;
  font-weight: 900;
}

h5 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  color: #999;
  font-size: 17px;
  line-height: 1.7;
}

.button {
  font-family: Oswald;
  font-weight: 400;
  color: white;
  background: aqua;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  padding: 3%;
}

/** header **/

header {
  height: 80px;
  width: 100%;
  background: #a8baa8;
  position: fixed;
  z-index: 1;
  box-shadow: 0 0 5px #555;
  transition: .5s;
  overflow: hidden;
}

header input {
  width: 50%;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 15px;
}

header.dropped {
  height: 160px;
}

.a2 {
  width: 50px;
  height: 75px;
  float: left;
  display: flex;
  justify-content: center;
}

header a, footer a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: none;
}

.fa-times {
  display: none;
}

.dropped .fa-bars {
  display: none;
}

.dropped .fa-times {
  display: initial;
}

.logo {
  width: 50px;
  height: 75px;
  float: left;
  display: flex;
  justify-content: center;
  list-style: none;
  line-height: 80px;
  padding-top: 2px;
  padding-left: 15px;
}

.menu {
  height: 80px;
  text-align: right;
  padding-right: 20px;
  line-height: 80px;
  font-size: 24px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

li {
  line-height: 80px;
  border: 0 20px;
  overflow-wrap: break-word;
}

a:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

.fa-bars:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

.sei {
  height: 30px;
  width: 30px;
  display: flex;
  padding: 30px 0px 20px 0px;
}

.sei i {
  font-size: 20px;
  padding: 10px;
  display: flex;
}

.sei:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

.sign-in {
  text-decoration: none;
  color: #333;
}

.sign-in:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

.atitle {
  color: aqua;
  text-decoration: none;
}

.sei:hover .dd {
  display: block
}

.dd {
  display: none;
  position: fixed;
  background: #7ea689;
  height: 150px;
  width: 110px;
  text-align: center;
  font-family: Teko;
}

.dd li {
  font-size: 37px;
}

/*** Main ***/

.gap {
  height: 80px;
}

.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

.mySlides img {
  vertical-align: middle;
  height: 450px;
  width: 700px;
}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* main-contact */

.contact {
  font-family: Ariel;
  height: 700px;
  width: 850px;
  overflow: hidden;
  margin-top: 75px !important;
  margin: auto;
}

.title {
  text-align: center;
}

label {
  font-size: 17px;
  font-family: Lato;
}

#email {
  width: 700px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  background:#c9c9c9;
  font-family: Lato;
  font-size: 19px;
}

#content {
  width: 800px;
  height: 400px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  background:#c9c9c9;
  font-family: Lato;
  font-size: 19px;
}

#send {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 7px;
  color: black;
  font-family: Lato;
  font-size: 19px;
}

#send:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

/* main-map */

.sm {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.sm h2 {
  display: flex;
  text-align: center;
  padding: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.sm2 {
  display: flex;
  flex-direction: row;
  padding: 25px;
}

.sm3 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sm h3 {
  font-size: 17px;
  display: flex;
  text-align: center;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

.ifmap1 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* main-pts */

.nav {
  align-items: flex-start;
  height: 275px;
  flex-direction: column;
}
  
.nav div {
  margin-left: 25px;
}

.nav a {
  color: white;
}

.nav h2 {
  font-size: 27px;
}

.nav h3 {
  font-size: 17px;
  text-align: left;
  padding-left: 15px;
}

.nav nav {
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.nav ul {
  justify-content: flex-start;
  height: 50px;
  align-items: center;
}

.nav li {
  border-right: 1px solid #bbb;
  padding: 0px 10px;
}

#hot:not(.active), #camp:not(.active) {
  background-color: #333;
}

#hot.active, #camp.active {
  background-color: #a8baa8;
}

#hotels:not(.active), #campsites:not(.active) {
  display: none;
}

#hotels .active, #campsites .active  {
  display: block;
}

#hotels {
  flex-direction: column;
  align-items: center;
  height: 1800px;
}

#hotels div {
  height: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#hotels h4 {
  padding: 0px;
}

#hotels img {
  vertical-align: middle;
  height: 270px;
  width: 350px;
  margin: 10px;
}

#campsites {
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.camp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#campsites h4 {
  padding: 0px;
}

#campsites img {
  vertical-align: middle;
  height: 270px;
  width: 350px;
  margin: 10px;
}

.container {
  position: relative;
  height: 285px !important;
}

.centred {
  position: absolute;
  color: white;
  top: 91%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* main-ttd */

#hist:not(.active), #ev:not(.active), #nat:not(.active), #res:not(.active), #act:not(.active), #hist .notActive, #ev .notActive, #nat .notActive, #res .notActive, #act .notActive {
  background-color: #333 !important;
}

#history:not(.active), #events:not(.active), #nature:not(.active), #food:not(.active), #activities:not(.active), #history .notActive, #events .notActive, #nature .notActive, #food .notActive, #activities .notActive {
  display: none !important;
}

#hist.active, #ev.active, #nat.active, #res.active, #act.active {
  background-color: #a8baa8;
}

#history .active, #events .active, #nature .active, #food .active, #activities .active  {
  display: block;
}

#history {
  flex-wrap: wrap;
  justify-content: center;
}

#history img, #nature img, #food img, #activities img {
  vertical-align: middle;
  height: 270px;
  width: 350px;
  margin: 10px;
}

#events {
  height: 1200px;
  flex-direction: column;
}

#cEv, #upCEv {
  width: 100%;
}

#nature {
  flex-wrap: wrap;
  justify-content: center;
}

#food {
  height: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#food div {
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#food h4 {
  padding: 0px;
}

#activities {
  height: 1200px;
  flex-wrap: wrap;
  justify-content: center;
}

#activities div {
  height: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** sections **/

section {
  height: 600px;
  width: 100%;
  display: flex;
  background: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* section-main */

section h3 {
  padding-top: 100px;
  text-align: center;
}

section h4 {
  padding-top: 100px;
  text-align: center;
}

section h5 {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

#au h4 {
  padding-top: 25px !important;
  font-size: 27px;
  margin: 40px;
}

.col {
  width: 80%;
  margin: auto;
}

.col h4 {
  padding-top: 25px !important;
}

.twitter {
  background-color: #f0f0f0;
}

.twitter-timeline {
  height: 600px;
  width: 600px;
  margin: auto;
  margin-top: 200px;
}

.CEC {
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.CEC h4 {
  text-align: center;
}

.UEC {
  height: 450px;
  width: 700px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.UEC h4 {
  text-align: center;
}

.CEC {
  height: 450px;
  width: 700px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.welcome, #au {
  height: 370px;
}

/** footer **/

footer {
  background: #2b2b2b;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.footer-top {
  padding: 30px 17px 0px;
}

.footer-top a {
  font-size: 40px;
}

footer span {
  height: 45px;
}

footer h5 {
  font-size: 15px;
  margin: 20px 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer span {
  margin: 10px 0px;
  padding: 0 10px;
}

footer span:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

.flex-container {
  align-items: center;
}

.f-i1 {
  height: 200px;
}

.f-i1 a {
  padding: 10px;
}

.f-i1, .f-i2, .f-i3 {
  padding: 3% 0 3% 3% !important;
}

.f-i4 {
  padding: 0px;
  height: 70px;
}

.f-c2 {
  padding-left: 15px;
  justify-content: space-between;
}

.toggle1-container {
  height: 85px;
  width: 100px;
  margin: auto;
}

.dm {
  width: 100px;
}

.track {
  height: 35px;
  width: 100px;
  background: gray;
  border-radius: 20px;
}

.slider {
  height: 30px;
  width: 30px;
  background: red;
  position: relative;
  top: -32.5px;
  border-radius: 50%;
  left: 5px;
  transition: .9s
}

#toggle1, #toggle2 {
  display: none;
}

#toggle1:checked + label .slider {
  left: 65px;
  background: limegreen;
}

.contrast h3, .contrast h4, .contrast h5, .contrast h6 {
  color: white;
}

.contrast section {
  background: #474c4d;
}

.f2 {
  display: none;
}

/*** media queries ***/

@media screen and (max-width:768px) {
  .flex-container {
    display: block;
  }

  .menu {
    display: block;
  }

  ul {
    justify-content: space-evenly;
  }

  header h2 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .sei, .sign-in {
    font-size: 16px;
  }

  header li {
    border: 0 10px;
  }

  .dd {
    display: none;
    position: fixed;
    background: #7ea689;
    height: 80px;
    width: 100px;
    text-align: center;
    font-family: Teko;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
  }

  .dd li {
    font-size: 17px;
  }

  section {
    display: flex;
    justify-content: center;
  }

  .welcome, #au {
    height: 420px;
  }

  .col {
    width: 350px !important;
  }
  
  .CEC {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .CEC h4 {
    text-align: center;
  }
  
  .UEC {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .UEC h4 {
    text-align: center;
  }
  
  .RecCaro {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .sm {
    height: 450px;
  }

  .sm2 {
    padding: 10px;
  }

  .sm h2 {
    font-size: 27px;
  }

  .sm3 {
    width: 100px;
  }

  .sm h3 {
    font-size: 13px;
  }
  
  .ifmap1 {
    width: 100px;
  }

  .ifmap2 {
    height: 250px;
  }

  .c-main {
    height: 700px;
  }
  
  .contact {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px !important;
  }

  .c-main {
    height: 600px;
  }
  
  .contact h2 {
    font-size: 27px;
  }
  
  #email {
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    background: #c9c9c9;
    margin: 10px;
    font-size: 17px;
  }

  #content {
    width: 350px;
    height: 200px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    background: #c9c9c9;
    margin: 10px;
    font-size: 17px;
  }

  #send {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 7px;
    color: black;
    font-size: 17px;
  }
  
  .map-s {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .gap {
    height: 0px;
  }

  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
  }
  
  .mySlides img {
    vertical-align: middle;
    height: 270px;
    width: 350px;
  }

  .text {
    font-size: 11px;
  }

  .nav div {
    margin-left: 0px;
  }

  #hotels {
    flex-direction: column;
    align-items: center;
    height: 2500px;
  }
  
  #hotels div {
    height: 730px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container {
    position: relative;
    height: 140px !important;
  }
  
  #hotels img {
    height: 140px;
    width: 190px;
  }